.product__quantity {
    width: 15%;
    font-weight: bold;
    font-size: large;
    margin-right: 4%;
    text-align: center;
    align-items: center;
    color: #454444;
 



    }
    
  .product__name {
    font-size: large;
    color: #454444;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bold;
    display: inline-flex;
    width: 65%;
      }