

.product__component {
display: inline-flex;
width: 98%;
height: 30%;
justify-content: space-between;
align-items: center;
box-shadow: 0px 2px 2px 2px rgb(109, 109, 109);

margin: 4px;
/*margin-left: 0;*/
border-radius: 5px;
border: rgb(255, 255, 255);
background-color: rgb(255, 255, 255);
}

.product_row {
  padding-left: 0.5%;
padding-right: 0.5%;
  justify-content: center;
}



.product_description{
  display: inline-flex;
  font-weight: bold;
  
 


}

.button_set{
  width: 20%;
  display: inline-flex;
  justify-content: right;
  align-items: center
}

.button_surrounding{
  display: inline-block;
 
justify-content: space-between;
align-items: center;

margin: 5px;

}

.table__quantity {
  width: 15%;
  font-weight: bold;
  display: inline-flex;
 

 
  }
.table__product {
  margin-left: 2%;
  font-weight: bold;
  display: inline-flex;
  width: 65%;
    }
  
  

.app {

  background-color: 'blue';
  width: '300px';
  height: '100px'

}


.appbuttons {
  position: fixed;
  top: 0x;
  bottom: 30px;
  left: 0;
  right: 0;
}


.video2 video,
canvas {
  width: 70%;
  height:70%;
 position: absolute;

  top:10%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  z-index:99;
}





/*
thead tr   { box-shadow:0px 10px 0px rgb(255,255,255,255) }​​​​​​​​​​​​​
*/

#navbar { box-shadow:0px 10px 0px rgb(0,0,0,0) !important }

.horizontal_divider{
 
  border-top:2px solid rgb(6, 6, 6) !important;
 }

/* # background: linear-gradient(to top,rgb(255, 255, 255),
# rgb(255, 255, 255) 15%,rgb(13,110,253) 0%, rgb(13,110,253) 100%);
*/

.header {
  width:  100%;
 height: 50px;
 align-items: center;
  font-size: 20px;
  font-weight: bold;
 color: white;
  background-color: rgb(13,110,253) !important;
  border: rgb(13,110,253);
  position: sticky !important;
  top: 0 !important;
 display:flex;
  box-shadow: 0 2px 2px rgb(18, 18, 19);
  margin-bottom: 4px;
  margin-top: 0px;
  padding-left: 10px;
  border-radius: 5px;
  
 
}


.table thead {
  min-width: 0;
}

.table tbody{
  min-width: 0;
}



.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}



.product_space_width{
 
  width: 100%;
  background-color: blue;


}




/*
table tbody tr td:hover{
    background-color: #43d548;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}
*/
/*
.table_button{
 
  width: 10%;
 
  background-color: #07a4f2 !important;


}

.table_width{
 
  width: 450px;
 
  


}
*/
/*
.table_product {
  width: 150px;
 
  background-color: #f20707 !important;
}

.table_quantity {
  width:10%;
 
  background-color: #f20707 !important;
}


*/



