/*
.app {

  background-color: 'blue';
  width: '300px';
  height: '100px'

}


.appbuttons {
  position: fixed;
  top: 0x;
  bottom: 30px;
  left: 0;
  right: 0;
}
*/

.video2 video,
canvas {
  width: 70%;
  height:70%;
 position: absolute;

  top:10%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  z-index:99;
}





/*
thead tr   { box-shadow:0px 10px 0px rgb(255,255,255,255) }​​​​​​​​​​​​​
*/

/*
#navbar { box-shadow:0px 10px 0px rgb(0,0,0,0) !important }

.horizontal_divider{
 
  border-top:2px solid rgb(6, 6, 6) !important;
 }
*/
/* # background: linear-gradient(to top,rgb(255, 255, 255),
# rgb(255, 255, 255) 15%,rgb(13,110,253) 0%, rgb(13,110,253) 100%);
*/


/*
.table thead {
  min-width: 0;
}

.table tbody{
  min-width: 0;
}

*/
/*
.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

*/




/*
table tbody tr td:hover{
    background-color: #43d548;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}
*/
/*
.table_button{
 
  width: 10%;
 
  background-color: #07a4f2 !important;


}

.table_width{
 
  width: 450px;
 
  


}
*/
/*
.table_product {
  width: 150px;
 
  background-color: #f20707 !important;
}

.table_quantity {
  width:10%;
 
  background-color: #f20707 !important;
}


*/



